html {
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
  ::selection {
    background-color: $color-primary;
    color: #fff;
  }
}
h1 {
  color: $color-primary;
  font-weight: 300;
}
h2,h3,h4,h5,h6 {
  color: $color-primary;
  font-weight: 400;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

p {
  line-height: 1.5rem;
}

.circle {
  position: relative;
  border-radius: 50%;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #fff;
    font-weight: 300;
  }
}

.even {
  background-color: $color-secondary;
}

.odd {
  background-color: $color-primary;
}